$primary: #23233C;
$security: #6CC57C;
$tertiary: #7F8DA0;
$color1: white;
$backgroundColor: #F2F6FF;
// @for $i from 1 to $limit {
//     .m-#{$i}{
//         margin: $i * $unit;
//     }

//     .p-#{$i}{
//         padding: $i * $unit;
//     }

//     .py-#{$i}{
//         padding: $i * $unit 0;
//     }
// }

// @for $i from 1 to 4 {
//     .w-#{$i}{
//         width: $i * 25%;
//     }
// }