@import './fonts.scss';
@import './colors.scss';

$limit:10;
$unit: 8px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'roboto', helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 94px;
}

a{
    text-decoration: none;
    color: inherit}

ul{
    list-style: none}

i{
    font-size: 0;
    display: block
}
p{
    letter-spacing: 0.01em;
    line-height: 1.6em;
    font-size: 14px;
    /* color: $color_app_text_normal */
}
input, button, textarea{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit
}

body{
    background-color: $backgroundColor;
}

@media (min-width: 910px){
    *p{
        font-size: 16px;
    }
}


@for $i from 1 to $limit {
    .m-#{$i}{
        margin: $i * $unit;
    }

    .p-#{$i}{
        padding: $i * $unit;
    }

    .py-#{$i}{
        padding: $i * $unit 0;
    }

    .col-#{$i}0{
        width: $i * 10%
    }

}

@mixin container {
    // height: calc(100vh - 52.2px);
    width: 100%;
}